#MainMenu {
      visibility: hidden;
}

footer {
    visibility: hidden;
}
  
footer:after {
    content: 'Made with ❤️';
    visibility: visible;
    display: block;
    position: relative;
    padding: 5px;
    top: 2px;
    color: #d1d1d1;
}